<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>

  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      <container name="testContainer1">
        <extension type="Interception"/>
        
        <!--
        type  （接口，抽象类）全类名,dll名称
        mapTo （实现类）全类名,dll名称
        -->
        <register type="_13_ioc.domain.IPhone,13-ioc" mapTo="_13_ioc.domain.impl.Apple12,13-ioc"/>

        <register type="_13_ioc.domain.IPhone,13-ioc" mapTo="_13_ioc.domain.impl.Android,13-ioc" name="Android">
          <constructor>
            <param name="power" type="_13_ioc.domain.IPower,13-ioc"/>
            <param name="rest" type="System.Int32" value="99"/>
          </constructor>
        </register>

        <register type="_13_ioc.domain.IGame,13-ioc" mapTo="_13_ioc.domain.impl.Game,13-ioc">
          <constructor>
            <param name="a" type="System.Int32" value="3"/>
            <param name="b" type="System.Int32" value="4"/>
          </constructor>
        </register>
        
        <register type="_13_ioc.domain.IPower,13-ioc" mapTo="_13_ioc.domain.impl.Power,13-ioc"/>
       
        
      </container>

      <container name="testContainer">
        <extension type="Interception"/>

        <!--
        type  （接口，抽象类）全类名,dll名称
        mapTo （实现类）全类名,dll名称
        -->
        <register type="_13_ioc.domain.IPhone,13-ioc" mapTo="_13_ioc.domain.impl.Apple12,13-ioc">
          <!--别名-->
          <interceptor type="InterfaceInterceptor"/>
          
          <interceptionBehavior type="_13_ioc.aop.LogBeforeBehavior, 13-ioc"/>
          <interceptionBehavior type="_13_ioc.aop.AuthorizeBehavior, 13-ioc"/>
          <interceptionBehavior type="_13_ioc.aop.CachingBehavior, 13-ioc"/>
          <interceptionBehavior type="_13_ioc.aop.LogAfterBehavior, 13-ioc"/>
          
          <lifetime type="transient" />
        </register>

        <register type="_13_ioc.domain.IPhone,13-ioc" mapTo="_13_ioc.domain.impl.Android,13-ioc" name="Android">
        </register>

        <register type="_13_ioc.domain.IGame,13-ioc" mapTo="_13_ioc.domain.impl.Game,13-ioc">
        </register>

        <register type="_13_ioc.domain.IPower,13-ioc" mapTo="_13_ioc.domain.impl.Power,13-ioc">
        </register>


      </container>
    </containers>
    
  </unity>
  
</configuration>