
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExceptionView</title>
</head>
<body>
    <div> 
        @{

            throw new Exception("测试异常");
        }
    </div>
</body>
</html>
