<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceTest01Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2271/WebService/WebServiceTest01.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceTest01Soap"
                contract="WebServiceTest01.WebServiceTest01Soap" name="WebServiceTest01Soap" />
        </client>
    </system.serviceModel>
</configuration>