<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceTest01Soap" />
                <binding name="BasicHttpBinding_IServiceTest01" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2271/WebService/WebServiceTest01.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceTest01Soap"
                contract="WebServiceTest01.WebServiceTest01Soap" name="WebServiceTest01Soap" />
            <endpoint address="http://localhost:2271/WCF/ServiceTest01.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceTest01"
                contract="WCFTest01.IServiceTest01" name="BasicHttpBinding_IServiceTest01" />
        </client>
    </system.serviceModel>
</configuration>